html, body{
  margin: 0px;
  background-color: #2F4F30;
  color: white;
}

.titulo{
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta{
  margin-top: 1%;
  width: 8em;
  position: relative;
  left: 8%;
  margin-left: -5%;
}

#maquina-cartas, #jugador-cartas{
  height: 13em;
}